<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 	<typeAliases>
 		<typeAlias type="com.ict.sp.vo.Dept" alias="dept"/>				
 	</typeAliases>
</configuration>  <!-- 소스를 굳이 외울 필요없다. xml 마이바티스 조건??    (2)-->

